/* Estilos para a barra lateral */
#sidebar {
    
    position: fixed;
    left: 0;
    top: 60px;
    width: 250px; /* Largura da barra lateral */
    height: calc(100% - 60px); /* Altura subtraindo a altura do menu superior */
    overflow-y: auto; /* Adiciona rolagem vertical se o conteúdo for muito longo */
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    padding: 10px;
    box-sizing: border-box; /* Isso garante que o padding seja incluído na largura */
  }

  #toggle-sidebar {
    display: block;
    width: 50px;
    padding: 10px;
    text-align: left;
    font-size: 24px;
    background: #f4f4f4;
    border: none;
    cursor: pointer;
    color: black;
}

  
  .sidebar-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  
  .sidebar-item:hover {
    background-color: #e9e9e9;
  }
  
  .sidebar-title {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px; /* Borda arredondada para o botão */
    transition: background-color 0.3s; /* Transição suave para o hover */
}

.button:hover {
    background-color: #0056b3;
}


/* Estilo para o botão de colapsar/expandir */
.collapse-toggle {
  cursor: pointer;
  padding-right: 5px;
}

/* Estilo para a lista de chats privados */
#private-chats-container {
  display: block; /* ou 'none' se você quiser que comece colapsada */
}


/* Estilos para a sala de chat privada */
.private-chat-room {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Estilos para o botão de colapso */
.collapse-button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 5px;
  font-size: 1em;
}

/* Estilos para a lista de participantes */
.participants-list {
  list-style: none;
  padding-left: 20px;
  margin-top: 5px;
}

.leave-room-button {

  display: block;
  cursor: pointer;
  margin-top: 5px;
  
}