/* Estilos para a barra lateral */
#sidebar {
    position: fixed;
    left: 0;
    top: 60px;
    width: 250px; /* Largura da barra lateral */
    height: 100%;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    padding: 10px;
    box-sizing: border-box; /* Isso garante que o padding seja incluído na largura */
  }

  #toggle-sidebar {
    display: block;
    width: 50px;
    padding: 10px;
    text-align: left;
    font-size: 24px;
    background: #f4f4f4;
    border: none;
    cursor: pointer;
    color: black;
}

  
  .sidebar-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  
  .sidebar-item:hover {
    background-color: #e9e9e9;
  }
  
  .sidebar-title {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px; /* Borda arredondada para o botão */
    transition: background-color 0.3s; /* Transição suave para o hover */
}

.button:hover {
    background-color: #0056b3;
}