body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* #app-container {
    display: flex;
} */

/* Estilos para a barra lateral */
#sidebar {
    position: fixed;
    left: 0;
    top: 50px;
    width: 250px; /* Largura da barra lateral */
    height: 100%;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    padding: 10px;
    box-sizing: border-box; /* Isso garante que o padding seja incluído na largura */
  }

  #toggle-sidebar {
    display: block;
    width: 50px;
    padding: 10px;
    text-align: left;
    font-size: 24px;
    background: #f4f4f4;
    border: none;
    cursor: pointer;
    color: black;
}

  
  .sidebar-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  
  .sidebar-item:hover {
    background-color: #e9e9e9;
  }
  
  .sidebar-title {
    font-weight: bold;
    margin-bottom: 10px;
  }

#chat-container {
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #ddd;
    padding: 20px;
    margin-left: 250px; /* Ajuste este valor conforme a largura da sua barra lateral */
}

#logout-btn {
    display: none;
}

#messages {
    margin-bottom: 20px;
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

#message-form {
    display: none;
    /* justify-content: space-between; */
    padding-top: 10px;
}

#message-input {
    flex-grow: 1; /* Permite que o input ocupe o máximo de espaço disponível */
    margin-right: 10px; /* Espaço entre o input e o botão de enviar */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; /* Borda arredondada para o input */
}

#file-size-info {
    display: block;
    margin-top: 5px;
    font-size: 0.8rem;
    color: #666;
}


.button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px; /* Borda arredondada para o botão */
    transition: background-color 0.3s; /* Transição suave para o hover */
}

.button:hover {
    background-color: #0056b3;
}

.button-index-send {

    height: 2rem;

}

#username {
    margin-bottom: 20px;
    padding: 10px;
    width: calc(100% - 22px); /* Ajuste para padding e borda */
    border: 1px solid #ccc;
}

#emoji-button {
    display: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 24px;
}

#user-search-container {
    display: none;
}


/* imagens, vídeos e links */

.message-file {
    width: 90%;
    
}

.message-element {
    white-space: normal;
    overflow-wrap: break-word;
    margin-top: 16px;
}


/* Estilização para dispositivos menores */
@media (max-width: 600px) {
    #chat-container {
        margin: 10px;
        padding: 10px;
    }

    #message-form {
        flex-direction: column;
    }

    #message-input {
        margin-bottom: 10px;
        flex-grow: 0;
    }

    .button {
        width: 100%;
    }

    .message-file {
        width: 100%;    
    }

}


/* ... other styles ... */

em {
    color: #555;
    font-style: normal;
}